

/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@function rem($pixels) {
    @return calc($pixels / 50) * 1rem;
}

/* ===== 全局样式 ===== */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: #000;
  background-color: #fff;
  font-size: rem(14);
}

a {
  color: inherit;
  text-decoration: none;
}

