# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
dist.tar.gz
.output.tar.gz

.agent
.claude
.codebuddy
.codex
.continue
.cursor
.gemini
.github
.kiro
.opencode
.roo
.trae
.windsurf